<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">UDT - United Data Technologies</h1>
    <div class="hero">

        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">Accomplish More With the Wonder of Technology</h4>
            <h4 class="paragraph-header">Technology Enablement is our Work Passion. Secure, on the go, in the rack and in the cloud. Together, forward, further, faster.</h4>
            <div class="login-app-icons">
                @*<a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>*@
                <a target="_blank" href="https://udtonline.com/portfolio-item/advanced/" class="btn btn-danger btn-sm">Find out more</a>
            </div>
        </div>

        <img src="~/content/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">JOURNEY TO THE CLOUD AND BEYOND</h5>
            <p>
                UDT is the technology enabler known for helping customers accomplish more in the cloud. UDT provides a robust array of implementation, migration, asset management, and protective measures to ensure your cloud-based operations are flexible, interoperable, secure, and compliant.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">PROTECTING WHAT MATTERS MOST</h5>
            <p>
                UDT’s suite of cyber security services provides powerful protections to secure your systems against breaches and unauthorized access through a spectrum of cost-effective security services.
            </p>
        </div>
    </div>

</div>